*, *:before, *:after
	box-sizing: border-box

body
	width: 100vw
	height: 100vh
	margin: 0
	padding: em(50px)
	overflow-x: hidden
	background: $bkgColor
	color: $white
	letter-spacing: $letterSpacing
	line-height: $base_line__height
	font-family: $font_family__primary

.section_padding
	padding-top: em(195px)

.heading_span
	display: block
	margin-bottom: ($unitEm)
	color: $grey
	font-size: ($unitPx * 2.5)
h1
	color: $orange
	padding: $headingPadding
	letter-spacing: 0
	line-height: $base_line__height
	font-weight: $font_weight__ultraBold
	font-size: $font_size__base * 2.8
	font-family: $font_family__primary
