*, *:before, *:after
	box-sizing: border-box

body
	width: 100vw
	max-width: 1280px
	height: 100vh
	margin: 0 auto
	padding: em(50px)
	overflow-x: hidden
	background: $bkgColor
	color: $white
	letter-spacing: $letterSpacing
	line-height: $base_line__height
	font-weight: $font_weight__light
	font-family: $font_family__primary

.header
	&_padding
		padding-bottom: em(197px)

.section
	display: flex
	flex-direction: row
	@include mediaQ('small')
		flex-direction: column
	@include mediaQ('medium')
		flex-direction: column
	@include mediaQ('large')
		flex-direction: row

	&_content
		padding-bottom: em(70px)

		&__para

			@include mediaQ('large')
				width: 50vw!important
				margin-bottom: em($unitPx * 4)

			@include mediaQ('medium')
				width: 100% !important
				margin-bottom: em($unitPx * 10)

			@include mediaQ('small')
				width: 100% !important
				margin-bottom: em($unitPx * 4)

		&__hero
			margin-top: em(-50px)
			margin-left: 10% !important

	&_cards
		justify-content: center
		align-items: flex-start

.cards_symptoms
	margin-top: -3.125em
	margin-left: 10% !important

.card
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	padding: 0 em(30px)
	max-width: 400px

	&_symptoms
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
		padding: 0.875em
		max-width: 400px

	& p
		text-align: center

.section_padding
	padding-top: em(195px)

.heading_span
	display: block
	margin-bottom: ($unitEm)
	color: $grey
	font-size: ($unitPx * 2.5)

h1
	color: $orange
	padding: $headingPadding
	letter-spacing: 0
	line-height: $base_line__height
	font-weight: $font_weight__ultraBold
	font-size: $font_size__base * 2.8
	font-family: $font_family__primary

.headingTwo
	color: $orange
	padding: $headingPadding
	letter-spacing: 0
	line-height: $base_line__height
	font-weight: $font_weight__ultraBold
	font-size: $font_size__base * 1.2
	font-family: $font_family__primary

	&_symptoms
		padding: em(32px) em(10px)

.section_cards
	& img
		max-width: em(150px)
