
select
	background: transparent
	color: $white
	border: 0
	border-bottom: em(2px) solid $white !important
	border-radius: 0 !important
	margin-bottom: em(80px)
	text-align: center !important
	font-size: $font_size__base * 1.5 !important
	font-family: $font_family__primary !important
	& option
		padding: em(40px)
