
.para_width__50
	margin-bottom: em($unitPx * 10)
	@include mediaQ('small')
		width: 100% !important
	@include mediaQ('large')
		width: 50% !important

.para_width__70
	margin-bottom: em($unitPx * 10)
	@include mediaQ('small')
		width: 100% !important
	@include mediaQ('large')
		width: 70% !important

.padding_30
	padding: em(32px) 0

.mt_negative__30
	margin-top: em(-30px)

.ml_30
	margin-left: em(60px)

.border_bottom
	border-bottom: em(10px) solid $orange

.text_small
	font-size: $font_size__base + 4 !important
.white
	color: $white !important

.blue
	color: $lightBlue !important
.yellow
	color: $yellow !important
.orange
	color: $orange !important
.red
	color: $red !important
.bold
	font-weight: $font_weight__ultraBold !important
.grey
	color: $grey !important
.small
	font-size: $font_size__base - 6 !important
.bgPlus
	border-radius: 50%
	width: 50px
	height: 50px
	padding: 30px
	background: $darkBlue
	box-shadow: 1px  2px 5px rgba(0,0,0, .7)
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	position: relative
	top: 60px
	left: 40px

.mt_200
	margin-top: em(300px) !important
	@include mediaQ('small')
		margin-top: em(300px) / 2 !important

